<%-include("partials/header.ejs") %>

<head>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Roboto+Mono&display=swap" rel="stylesheet">
</head>
<body>
    <title>Developer Website</title>
    <div class="profile">
        <h2>Hello, I am Dylan Lewis.</h2>
        <img class="circular--square" src="/img/chez.jpg"/>
        <div class="container">
            <a href="/social">Discord</a>
        </div>
        <h2>About</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Cras porta sem a mi mollis dapibus.<br>
            Etiam semper massa non eros consequat congue. 
            Nulla eget velit felis.<br>
            Aliquam eget vehicula orci. 
            Nullam odio turpis, convallis ut blandit vel, vulputate sit amet mi.<br>
            Aenean at condimentum enim, sed aliquet massa. 
            Cras id accumsan mauris, et vehicula massa.<br>
            Pellentesque quam nisi, rhoncus eget varius vel, posuere a orci.
        </p>
    </div>
</body>

<%-include("partials/footer.ejs") %>